{%extends "core/base.html"%}
{% block title %} Sobre Nosotros {%endblock%}

{% load static %}

{%block estilos%}
<link rel="stylesheet" href = "{% static 'core/styles/estiloSobreNosotros.css'%}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{%endblock%}

{% block content %}
    <main>
      
      <div class="main">
        <h1>Ludoteca</h1>
        <h2>Grupo 7 (Lorenzo Buero, Daniela Rodriguez, Lucas Medina y Bruno Kuznicki)</h2>
      
        <p>
          Ludoteca es el proyecto realizado por el grupo 7 para el curso de desarrollo web Codo a Codo 4.0.<br>
          Este sitio es un sitio web de reseñas y periodismo de videojuegos, contiene una página principal, 
          una página para buscar reseñas, una página para cada reseña, una página que habla sobre nosotros 
          y sobre el proyecto (esta página) y una página para contactarnos. 
        </p>

        <a href="{% url 'contacto'%}" class="btnGenerico">Contactanos</a>

        <div id="nuestroEquipo">
          <h2>Nuestro equipo</h2>
          
  
            <div class="card" style="width: 18rem;">
              <img src="{% static 'core/images/imagenes_Sobre-nosotros/fotoBruno.jpg'%}" class="card-img-top" alt="Imagen de Bruno Kuznicki">
              <div class="card-body">
                <p class="card-text"><b>Bruno Kuznicki</b><br>Desarrollador front-end, encargado de estructurar el contenido de Ludoteca y manejar su diseño responsive. <br> Programador autodidacta hace más de dos años, aspirante a desarrollador Front-end, y fanático de Boca Juniors. </p>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <img src="{% static 'core/images/imagenes_Sobre-nosotros/fotoDaniela.jpg'%}" class="card-img-top" alt="Imagen de Daniela Rodriguez">
              <div class="card-body">
                <p class="card-text"><b>Daniela Rodriguez</b><br>Diseñadora UX-UI, desarrolladora front-end, creó la maqueta del sitio en canva<br>Editora de contenidos digitales y community manager con más de cinco años de experiencia. En su papel de aspirante a desarrolladora front-end, intenta combinar creatividad con funcionalidad. </p>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <img src="{%static 'core/images/imagenes_Sobre-nosotros/fotoLorenzo.jpg'%}" class="card-img-top" alt="Imagen de Lorenzo Buero">
              <div class="card-body">
                <p class="card-text"><b>Lorenzo Buero</b> <br>"Lider" del grupo, desarrollador front-end, gestor de versiones en GitHub. <br> Estudiante en tecnicatura en programación en la UTN. Quiere dedicarse al desarrollo de videojuegos</p>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <img src="{%static 'core/images/imagenes_Sobre-nosotros/foto-perfil-vacio.jpeg'%}" class="card-img-top" alt="Imagen de Lucas Medina">
              <div class="card-body">
                <p class="card-text"><b>Lucas Medina</b> KIA, Quedó libre <br> Aún así ayudó al grupo</p>
              </div>
            </div>

          <!--</div>-->

            <!--<div class="columna">
    
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>-->


          
        </div>
      </div>
      
          
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    
    

{%endblock%}