/*Configuracion general*/
* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* PALETA DE COLORES */
:root {
  --blanco: #fffcfa;
  --gris-fondo: #e7e7e7;
  --rosita: #ffe5c6;
  --naranja: #ffa500;
  --verde-fuerte: #39ff14;
  --negro-verdoso: #071a03;
}


/* BODY */
main
{
  margin-top: 40px;
}


.card-reseña {
	display: grid;
	grid-template-columns: 1fr .5fr;
  grid-template-rows: .1fr 190px .1fr;
	gap: 20px;

	background-color: var(--rosita);
	border-radius: 25px;
	padding: 25px;
}

/* Título del videojuego */
.card-reseña h3 {
  grid-column: span 2;
  text-align: center;
}

/* Imagen del videojuego */
.card-reseña-img {
  max-width: 100%;
	border: 5px solid #000;
  background-position: center;
  background-size: cover;
}

/* Botón para ir a la reseña */
.card-reseña-link {
	border-radius: 20px;
  font-size: .8em;
	padding: 5px 10px;
	align-self: center;
	text-align: center;
  grid-column: span 2;
}



/*DEFAULTS*/
button, .btnGenerico, .card-reseña-link
{
  background-color: var(--verde-fuerte);
  color: var(--negro-verdoso);

  border-style: none;

  font-weight: bold;
  text-decoration: none;/*NO FUNCIONA*/

  display: inline-block;
  cursor: pointer;
}



button:hover, .btnGenerico:hover, .card-reseña-link:hover
{
  transition: all 300ms;
  background-color: var(--naranja);
  color: var(--blanco);
}


/*ESTE ESTILO ES PARA LOS ANCOR QUE ACTUEN COMO BOTONES*/
.btnGenerico
{
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1em;
}



.main-content {
  background-color: var(--blanco);
  border-radius: 20px;
  padding: 20px 5%;
  height: fit-content;
}




/* NAV-BAR */
.nav {
  background-color: var(--negro-verdoso);
  padding: 15px 2%;
  width: 100%;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  z-index: 10;
}

/* lista que contiene los elementos del nav */
.nav ul {
  display: flex;
  align-items:center;
  gap: 20px;
  list-style: none;
}

/* título del nav */
.nav-logo-titulo {
  text-decoration: none; 
  font-size: 1.5em;
  color: var(--naranja);
}
.nav-logo-titulo:hover{
  text-decoration: underline;
}
.nav-logo-titulo i{
  margin-right: 3px;
}


/* contenedor del formulario "buscador" (input + botón) */
.buscador {
  display: flex;
  align-items: center;
}

/* estilos del input para buscar */
.input-search {
  border-radius: 25px 0px 0px 25px;
  border: none;
  /* font-size: 12px; */ /*CAMBIARLE EL FONT-SIZE HACÍA QUE NO QUEDE ALINEADO CON EL BOTÓN*/
}

/* estilos del botón */
.button-submit {
  border-radius: 0px 25px 25px 0px;
}

/* estilos iguales tanto en el input como en el botón */
.input-search, .button-submit {
  padding: 5px 10px;
}

/* FOOTER */
footer {
  background-color: var(--negro-verdoso);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navegacionFooter {
  display: flex;
  align-items: center;
  color: var(--rosita); 
}

#navegacionFooter a {
  text-decoration: none;
  color: inherit;
}

#navegacionFooter a:hover {
  color: var(--verde-fuerte);
}

#navegacionFooter p, #navegacionFooter a{
  font-size: 14px;
  margin-right: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  margin: 0, 20px
}

#flechaSubir {
  position: fixed;
  font-size: 30px;
  bottom: 5vh;
  right: 5vh;
  text-decoration: none;
  color: var(--naranja);
}

/*MEDIA QUERYS*/
@media screen and (max-width: 780px){
  .navegacion{
    display: none;
  }
}
